<div class="body-box position-fixed w-100  d-none justify-content-center align-items-center" style="height: 100%; z-index: 1000; background: rgba(0, 0, 0, 0.175);">  
    <div class="login-box card h-75 px-4 p-1 m-1" style="background-color: #fff; opacity:1;width: 500px;">
        <div class="card-body row p-0 " style="overflow: auto;">
            <label for="radio-login" class="log-label col-sm-6 text-center" style="padding: 10px;">Login <span> <i class="fa fa-lock"> </i></span></label>
            <label for="radio-signup"  class="sign-label col-sm-6 text-center" style="padding: 10px;">Sign Up<span> <i class="fa fa-user"></i></span></label>
            <div class="card-body bg-light " style="margin: 0;width: 103%; border-radius: 20px;height: 90%;" >
                <div class="over-sli h-100 " style="width: 100%; border-radius:20px ;padding: 0px;overflow: hidden;">
                    
                    <div class="slide" style="width: 200%;height: 100%;">
                        <div class="log-in bg-info d-flex flex-column justify-content-around align-items-start p-4 text-primary" style="width: 50%; float: left;height: 100%;">
                            <h1 class="h1">Login</h1>
                            {% include "app/message.html" %}
                            <small class="p">To get formal Data and save new data you have to login ToDo app</small>
                            <form action="{% url 'todo:login' %}" method="post" class="form-group" style="width: 90%;">
                                {% csrf_token %}
                                {{login_form}} <br>
                                <input type="checkbox" name="login-check" id="login-check" class="col"><label for="login-check" class="sm-label px-2 col">Keep me logged in</label><br>
                                <input type="submit" value="Login" class='btn btn-light text-primary px-4 m-4'>
                            </form>
                            <div class="keep"></div>
                        </div>
                        <div class="sign-up bg-primary d-flex flex-column justify-content-between align-items-start p-4 text-light" style="width: 50%; float:left;height: 100%;">
                            <h1 class="h1">Sign UP </h1>
                            <small class="p">Welcome to the ToDo app... Please Sign-up and login to get start using the ToDo app</small>
                            <form action="{% url 'todo:signup' %}" class="form-group" style="width: 90%;" method='post'>
                                {% csrf_token %}
                                {{signup_form}} <br>
                                <input type="checkbox" name="signup-check" id="signup-check" class="col"><label for="signup-check" class="sm-label px-2 col">Keep me logged in</label><br>
                                <input type="submit" value="Sign Up" class='btn btn-light text-info px-4 m-4'>

                            </form>
                            <div class="keep"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>