<div class="win-update w-100 h-100 d-none position-fixed justify-content-center align-items-center" style="z-index: 1002; background: rgba(0, 0, 0, 0.566);">
    <form class="update-box bg-primary d-flex flex-column justify-content-between p-4 align-items-center rounded" method="post" action="{% url 'todo:update' 49 %}">
        {% csrf_token %}
        <h3 class="h3 text-light m-auto mb-4 py-2">Update ToDo</h3>
        {{form}}
        <input type="submit" class="btn btn-info" value="Update ToDo">
    </form>
</div>